@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom styles */

/*set the font and background color */
body {
  @apply bg-white text-black;
}

/*Custom input box design for form*/
.custom-input {
  @apply mt-1 border-b border-black block md:w-auto w-32 outline-none sm:text-sm px-2 py-0.5;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
