@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 text-black;
}

.custom-input {
  @apply mt-1 border border-black block md:w-auto w-32 shadow-lg sm:text-sm rounded-md px-2 py-0.5;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
